@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    color: #d0cbcb;
    background-image: url('./assets/bgsite.jpg');
    background-attachment: fixed;
    background-size: cover;
}

body h1 {
    font-family: 'Lato';
}

body p {
    font-family: 'Roboto';
    padding: 20px 0;
}

.espaco {
    max-width: 80%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

header li {
    display: inline;
    margin: 30px;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #d0cbcb;
}

/* hr {
    opacity: 0.6;
} */

.intro {
    color: #d0cbcb;
    margin: 17rem 0;
}

.intro button {
    padding: 12px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 16px;
    border: 1px solid white;
    margin-left: 155px;
}

.fornecedores div {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

.f-img {
    width: 220px;
    height: 220px;
    border: 2px solid yellow;
}

.produtos {
    margin: 10rem 0;
}

.produtos div {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 4px;
    justify-content: center;
    align-items: center;
}

/* Animações */

header li a:hover {
    color: white;
    transition: 0.4s;
}

.intro button:hover {
    color: #d0cbcb;
    background-color: #020a54;
    transition: 0.6s;
    cursor: pointer;
}